@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
  --cor-primaria: #000;
  --cor-secundaria: #fff;
  --cor-terciaria: #22d4fd;
  --cor-hover: #272727;

  --font-primaria: 'Krona One', sans-serif;
  --font-secundaria: 'Montserrat', sans-serif;
}


*{
  margin: 0;
  padding: 0;
}

body{
  background: var(--cor-primaria);
  color: var(--cor-secundaria);
  /* height: 100vh; */
  box-sizing: border-box;
  /* overflow: hidden; */
}  

.cabecalho{
  margin: 4% 10% 0% 11%;
  
}

.cabecalho-menu{
  display: flex;
  padding: 2% 0% 0% 10%;
  gap: 7%;
}

.cabecalho-links{
  font-family: var(--font-secundaria);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--cor-terciaria);
  text-decoration: none;
}

.titulo-destaque{
  color: var(--cor-terciaria);
}

.apresentacao{
  margin: 0% 10% 0% 9%;
  padding: 0% 4% 0% 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
}

.apresentacao-sobre-mim{
  margin: 0% 10% 0% 10%;
  padding: 0% 4% 0% 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
}

.apresentacao-textos{
  padding: 5% 12% 10% 12%;
  width: 50%;
}

.apresentacao-textos-sobre-mim{
  padding: 5% 5% 5% 10%;
  width: 100%;
}

.apresentacao-textos-central{
  margin: 2%;
}

.apresentacao-textos-central-sobre-mim{
  margin: 2%;
}
.apresentacao-central{
  margin-bottom: 30px;
  font-family: var(--font-primaria);
  font-weight: 400;
  font-size: 2.25rem;
}

.apresentacao-central-sobre-mim{
  margin-bottom: 30px;
  font-family: var(--font-primaria);
  font-weight: 400;
  font-size: 2.25rem;
}

.apresentacao-paragrafo{
  font-family: var(--font-secundaria);
  font-weight: 400;
  font-size: 1.5rem;

}

.apresentacao-paragrafo-sobre-mim{
  font-family: var(--font-secundaria);
  font-weight: 400;
  font-size: 1.5rem;

  column-count: 2;
  column-gap: 5rem;
}

.apresentacao-textos-icone{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  margin-top: 50px;
}

.apresentacao-textos-icone-paragrafo{
  font-family: var(--font-primaria);
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0px 20px 0;
}

.apresentacao-icone{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;

  border: 2px solid var(--cor-terciaria);

  width: 378px;
  height: 79px;
  border-radius: 8px;

  font-family: var(--font-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-secundaria);
  text-decoration: none;

}

.apresentacao-icone:hover{
  background-color: var(--cor-hover);
}

.apresentacao-icone-svg-imagem{
width: 50px;
height: 50px;
display: flex;
justify-content: space-around;
}

.apresentacao-imagem {
width: 30%;
border: 4px solid var(--cor-terciaria);
border-radius: 10%;

}

.rodape{
  padding: 24px;
  background-color: var(--cor-terciaria);
  text-align: center;

  font-family: var(--font-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}





@media (max-width: 1024px){

 .cabecalho-menu{
  align-items: center;
  justify-content: flex-start;
  padding: 2%;
  margin: 4% 0% 0% 9.7%;
 }

  .apresentacao{
    flex-direction: column-reverse;
    margin: 5% 10% 0% 10%;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  .apresentacao-textos-central{
    font-size: 0.5rem;
  }

  .apresentacao-textos{
    width: auto;
  }
}


@media (max-width: 768px) {

  .cabecalho-menu{
    margin: 4% 0% 0% 8%;
   
  }



 .apresentacao-imagem{
  margin-top: 2%;
  width: 50%;
  border: 4px solid var(--cor-terciaria);
  border-radius: 10%;

 }

  .apresentacao-textos{
    margin: 0%;
    padding: 0%;
  }

  .apresentacao-central{
    margin: 0% 10% 0% 10%;
    font-size: 1.5rem;
  }

  .apresentacao-paragrafo{
    margin: 10%;
    font-size: 1rem;
  }
  
  .apresentacao-textos{
    margin-top: 15%;
  }

  .apresentacao-textos-central{
    font-size: 1rem;
  }

  .apresentacao-textos-icone-paragrafo{
    font-size: 1rem;
  }

  .apresentacao-icone{
    font-size: 1rem;
    gap: 25px;
    justify-content:center;
    

    width: 248px;
    height: 59px;
    
  }

  .apresentacao-icone-svg-imagem{
    width: 10%;
  }

  .rodape{
    font-size: 1rem;
    padding: 14px;
    margin-top: 10%;
  }
}

@media (max-width: 425px) {
  .cabecalho-links{
    font-size: 1.3rem;
    }

  .apresentacao-central-sobre-mim{
    font-size: 1rem;
    margin: 10% 0% 10% 0%;
  }  

  .apresentacao-paragrafo-sobre-mim{
  font-size: 1rem;
  column-count: 1;
  }
}