@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  color: white;
  /* height: 100vh; */
  box-sizing: border-box;
  /* overflow: hidden; */
}  

.cabecalho{
  background-color: orange;
  margin: 0% 10% 0% 10%;
  
}

.cabecalho-menu{
  display: flex;
  padding: 2% 0% 0% 10%;
  gap: 7%;
  background-color: indigo;
 
}

.cabecalho-links{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #22D4FD;
  text-decoration: none;
}

.titulo-destaque{
  color: #22D4FD;
}

.apresentacao{
  margin: 0% 10% 0% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
}

.apresentacao-textos{
  /* background-color: blueviolet; */
  margin: 0% 10% 0% 10%;
  padding: 4% 0% 10% 0%;

}

.apresentacao-textos-central{
  /* background-color: gray; */
  margin: 20px 0px 20px 0;
}

.apresentacao-central{
  margin-bottom: 30px;
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
  font-size: 36px;
}

.apresentacao-paragrafo{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;

}
.apresentacao-textos-icone{
  /* background-color:pink; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  margin-top: 50px;
}

.apresentacao-textos-icone-paragrafo{
  font-family: 'krona One', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 20px 0px 20px 0;
  /* background-color: lawngreen; */
}

.apresentacao-icone{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;

  border: 2px solid #22D4FD;

  width: 378px;
  height: 79px;
  border-radius: 8px;

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color:white;
  text-decoration: none;

}

.apresentacao-icone:hover{
  background-color: #272727;
}

.apresentacao-icone-svg-imagem{
width: 50px;
height: 50px;
display: flex;
justify-content: space-around;
}

.rodape{
  padding: 24px;
  background-color: #22D4FD;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
}