@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
  --cor-primaria: #000;
  --cor-secundaria: #fff;
  --cor-terciaria: #22d4fd;
  --cor-hover: #272727;

  --font-primaria: 'Krona One', sans-serif;
  --font-secundaria: 'Montserrat', sans-serif;
}


*{
  margin: 0;
  padding: 0;
}

body{
  background: var(--cor-primaria);
  color: var(--cor-secundaria);
  /* height: 100vh; */
  box-sizing: border-box;
  /* overflow: hidden; */
}  

.cabecalho{
  background-color: orange;
  margin: 0% 10% 0% 10%;
  
}

.cabecalho-menu{
  display: flex;
  padding: 2% 0% 0% 10%;
  gap: 7%;
  background-color: indigo;
 
}

.cabecalho-links{
  font-family: var(--font-secundaria);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--cor-terciaria);
  text-decoration: none;
}

.titulo-destaque{
  color: var(--cor-terciaria);
}

.apresentacao{
  margin: 0% 10% 0% 10%;
  padding: 0% 4% 0% 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  background-color: aqua;
}

.apresentacao-textos{
  /* background-color: blueviolet; */
  padding: 5% 12% 10% 12%;
  width: 50%;
}

.apresentacao-textos-central{
  /* background-color: gray; */
  margin: 20px 0px 20px 0;
}

.apresentacao-central{
  margin-bottom: 30px;
  font-family: var(--font-primaria);
  font-weight: 400;
  font-size: 2.25rem;
}

.apresentacao-paragrafo{
  font-family: var(--font-secundaria);
  font-weight: 400;
  font-size: 1.5rem;

}
.apresentacao-textos-icone{
  /* background-color:pink; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  margin-top: 50px;
}

.apresentacao-textos-icone-paragrafo{
  font-family: var(--font-primaria);
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px 0px 20px 0;
  /* background-color: lawngreen; */
}

.apresentacao-icone{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;

  border: 2px solid var(--cor-terciaria);

  width: 378px;
  height: 79px;
  border-radius: 8px;

  font-family: var(--font-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-secundaria);
  text-decoration: none;

}

.apresentacao-icone:hover{
  background-color: var(--cor-hover);
}

.apresentacao-icone-svg-imagem{
width: 50px;
height: 50px;
display: flex;
justify-content: space-around;
}

.apresentacao-imagem {
width: 50%;

}

.rodape{
  padding: 24px;
  background-color: var(--cor-terciaria);
  text-align: center;

  font-family: var(--font-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1200px){

 .cabecalho-menu{
  align-items: center;
  justify-content: center;

  padding: 2%;
 }

  .apresentacao{
    flex-direction: column-reverse;
    margin: 5% 10% 0% 10%;
    align-items: center;
    justify-content: center;
  }

  .apresentacao-textos{
    width: auto;
  }


}